<!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Форма аутентификации</title>
        <link rel="stylesheet" href="res/style/style.css">
        <style>
            .flex_buttons {
                display: flex;
                justify-content: space-between;
            }
            .back_button {
                background-color: red;
            }
            .ramka{
                height: 50px;
            }
            button {
                margin-top: 0;
            }
        </style>
    </head>
    <body>
    {{$userName := .}}
    <form class="form" action="http://localhost:8080/block_user" method="post" enctype="application/x-www-form-urlencoded">
         <div class="form_group">
            <div class="ramka">Учётная запись пользователя: <strong>{{$userName}}</strong></div>
             <p><input type="checkbox" name="is_blocked">Заблокировать пользователя?</p>
        </div>
         <div class="flex_buttons">
            <button>Редактор контрольных вопросов</button>
             <button type="submit">Сохранить</button>
            <button class="back_button">Назад</button>
        </div>
    </form>
    </body>
    </html>